<!DOCTYPE html>
<html lang="en">
<head th:fragment="headerfiles">
    <link rel="stylesheet" href="../../static/css/list_style.css" th:href="@{/css/list_style.css}">
    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
</head>
<body>
    <section class="container" th:fragment="listGood (goods)">
        <div  th:unless="${#lists.isEmpty(goods)}" class="cards">
            <div class="card" th:each="good : ${goods}">
                <div class="card-header">
                    <a th:href="@{'/good/' + ${good.Id}}" th:text="${good.name}">Жаропонижающие</a>
                </div>
                <div class="card-content">
                    <div class="card-description">
                        <p th:text="${good.description}">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Illo culpa recusandae, voluptatum iure dolorem officia beatae,
                            vel earum, doloribus quod saepe quae totam esse deleniti.
                        </p>
                    </div>
                    <div class="card-type" th:text="${good.price}">Лекарственные средства</div>
                    <div class="card-type" th:text="${good.quantity}">Лекарственные средства</div>
                </div>
            </div>
        </div>
        <div th:if="${#lists.isEmpty(goods)}">
            <h1>Goods Not FOUND!</h1>
        </div>
    </section>
</body>
</html>