<!DOCTYPE html>
<html lang="en">
<head th:fragment="headerfiles">
    <link rel="stylesheet" href="../../static/css/list_style.css" th:href="@{/css/list_style.css}">
    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
</head>
<body>
    <section class="container" th:fragment="listOrder (orders)">
        <div class="cards">
            <div class="card" th:each="order : ${orders}">
                <div class="card-header">
                    <a th:href="@{'/order/' + ${order.Id}}" th:text="${order.Id}">Жаропонижающие</a>
                </div>
                <div class="card-content">
                    <div class="card-description">
                        <p th:text="${order.description}">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Illo culpa recusandae, voluptatum iure dolorem officia beatae,
                            vel earum, doloribus quod saepe quae totam esse deleniti.
                        </p>
                    </div>
                    <div class="card-type" th:text="${order.user.username}">Лекарственные средства</div>
                    <div class="card-type" th:text="${order.good.name}">Лекарственные средства</div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>