<!DOCTYPE html>
<html lang="en">
<head th:fragment="headerfiles">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Galada&family=Slabo+27px&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../static/css/style.css" th:href="@{/css/style.css}">
</head>
<body>
    <section>
        <header class="header" th:fragment="header">
            <section class="container">
                <div class="header-top">
                    <div class="header-top-logo">
                        <a>AsiaPharm</a>
                    </div>
                    <nav class="header-top-nav">
                        <a class="nav-link">Home</a>
                        <a class="nav-link">Goods</a>
                        <a class="nav-link">Categories</a>
                        <a class="nav-link">Category Types</a>
                        <a class="nav-link">Users</a>
                    </nav>
                </div>
            </section>
        </header>
    </section>   
</body>
</html>