<!DOCTYPE html>
<html lang="en">
<head th:fragment="headerfiles">
    <link rel="stylesheet" href="../../static/css/list_style.css" th:href="@{/css/list_style.css}">
    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
</head>
<body>
    <section class="container" th:fragment="listUser (users)">
        <div class="cards">
            <div class="card" th:each="user : ${users}">
                <div class="card-header">
                    <a th:href="@{'/user/' + ${user.Id}}" th:text="${user.Id}">Жаропонижающие</a>
                </div>
                <div class="card-content">
                    <div class="card-type">
                        <img src="" th:src="@{'/user/' + ${user.Id} + '/image'}" width="200" height="200">
                    </div>
                    <div class="card-type" th:text="${user.firstName}">Лекарственные средства</div>
                    <div class="card-type" th:text="${user.lastName}">Лекарственные средства</div>
                    <div class="card-type" th:text="${user.username}">Лекарственные средства</div>
                    <div class="card-type" th:text="${user.password}">Лекарственные средства</div>
                    <div class="card-type" th:text="${user.mobileNum}">Лекарственные средства</div>
                    <div class="card-type" th:text="${user.email}">Лекарственные средства</div>
                    <div class="card-type" th:text="${user.birthDate}">Лекарственные средства</div>
                    <div class="card-type" th:text="${user.role}">Лекарственные средства</div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>