<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New User</title>
    <!--/*/ <th:block th:include="layout/fragments.html :: headerfiles"> /*/--><!--/*/ </th:block> /*/-->
    <!--/*/ <th:block th:include="user/listUser.html :: headerfiles"> /*/--><!--/*/ </th:block> /*/-->
</head>
<body>
    <section>
        <header th:replace="layout/fragments.html :: header">
        </header>
        <main>
            <section class="container">
                <div class="card">
                    <form method="post" action="http:\\localhost" th:action="@{'/user/newInfo'}" th:object="${userCommand}">
                        <div class="card-content">
                            <div class="card-description">
                                <label for="firstName">First Name:</label>
                                <input id="firstName" name="firstName" type="text" th:field="*{firstName}">

                                <label for="lastName">Last Name:</label>
                                <input id="lastName" name="lastName" type="text" th:field="*{lastName}">

                                <label for="username">Username:</label>
                                <input id="username" name="username" type="text" th:field="*{username}">

                                <label for="password">Password:</label>
                                <input id="password" name="password" type="text" th:field="*{password}">

                                <label for="mobileNum">Mobile Num:</label>
                                <input id="mobileNum" name="mobileNum" type="text" th:field="*{mobileNum}">

                                <label for="email">Email:</label>
                                <input id="email" name="email" type="email" th:field="*{email}">

                                <label for="birthDate">Birth Date:</label>
                                <input id="birthDate" name="birthDate" type="text" th:field="*{birthDate}">
                                <div>
                                    <label for="role">Role:</label>
                                    <select id="role" name="role" th:field="*{role}">
                                        <option th:each="roleValue : ${T(kz.xan.asiapharm.domain.ROLE).values()}"
                                                th:value="${roleValue.name()}"
                                                th:text="${roleValue.name()}"
                                        ></option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </section>
        </main>
    </section>
</body>
</html>