* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    color: white;
}

.header {
    max-width: 100%;
    background-color: #AFCFEA;
}

.container {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #76FEC5;
    padding: 20px 0;
    color: #fff;
}

.header-top-logo {
    font-size: 40px;
    font-family: 'Galada', cursive;
}


.header-top-nav {
    font-size: 15px;
    text-transform: uppercase;
    display: flex;
    font-family: 'Slabo 27px', serif;
    font-weight: bold;
}

.nav-link {
    margin-left: 50px;
    text-decoration: none;
}

.nav-link:first-child {
    margin-left: 0px;
}

.nav-link:hover {
    text-decoration: underline;
}

.not_autenticated {
    display: inline-block;
}

.sing-link{
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.sing-link:hover{
    text-decoration: underline;
}

.login-link {
    float: left;
    margin-right: 5px;
}

.register-link {
    float: right;
    margin-left: 5px;
}

.sign_out_button {
    outline: none;
    background: none;
    border: none;
    color: white;
    font-size: 18px;
}

.sign_out_button:hover {
    text-decoration: underline;
}

.header-bottom {
    margin-top: 15px;
    padding-bottom: 10px;
}

.search-good {
    display: flex;
    flex-direction: row;
}

.good-catalog {
    display: flex;
    align-items: center;
}

.good-search {
    margin-left: 150px;
}

.search-form {
    display: flex;
}

.search-input {
    display: flex;
    align-items: center;
}

.input__inner{
    width: 350px;
    height: 30px;
    border-radius: 5px;
    border: none;
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    color: #414042;
}

.input__inner:focus{
    outline: none;
    border: 1px solid #E6E7E8;
}

.search-button {
    margin-left: 5px;
    display: flex;
    align-items: center;
}

.button__inner {
    border: none;
    background-color: white;
    color: #414042;
    height: 30px;
    border-radius: 5px;
}


.catalog-button {
    margin-left: 5px;
    font-family:'Oswald', sans-serif;
    font-size: 20px;
    color: white;
    background: none;
    border: none;
}