<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>CategoryTypes</title>
    <!--/*/ <th:block th:include="layout/fragments.html :: headerfiles"> /*/--><!--/*/ </th:block> /*/-->
    <!--/*/ <th:block th:include="categoryType/listCategoryTypes.html :: headerfiles"> /*/--><!--/*/ </th:block> /*/-->
</head>
<body>
<section>
    <header th:replace="layout/fragments.html :: header">
    </header>
    <main>
        <section th:replace="categoryType/listCategoryTypes.html :: listCategoryTypes(categoryTypes=${categoryTypes})">

        </section>
    </main>
</section>
</body>
</html>